
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="static/background/particles/css/style.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login - Override_</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<div id="particles-js"></div>

  <div class="login-container">
    <h1 class="title">404 Not Found  <img src="/static/images/404.png" alt="404 Icon" style="width: 30px; height: 30px;" />
</h1>
    <p class="subtitle">This page doesn't exist on the server, make sure you typed it right.</p>

    <p style="text-align:center; margin-top: 20px;">
    <a href="/" style="color: #ffffff;">Continue</a>
    </p>
  </div>
<script src="static/background/particles.js"></script>
<script src="static/background/particles/js/app.js"></script>
</body>
</html>
